.searchbar {
    .x-field-search {
        width: 100%;
        &.search-focused {
            width: 80%;
        }
    }
    .x-field-clearable {
        .x-field-input {
            padding-right: 0px !important;
            font-size: 16px;
        }
    }
    .cancel-search {
        font-size: 15px;
        min-height: 40px;
        margin: 5px;
        padding: 0;
        border: 1px solid black;
        border-radius: 3px;
        .x-button-label {
        }
    }
    .cancel-search-android {
        width: 40px !important;
        height: 40px;
        margin-top: 6px;
        font-size: 15px;
    }
}
.x-field-search {
    .x-component-outer {
        padding: 6px;
        background: #f3f3f3;
    }
    .x-field-input {
        &:before {
            content: '\f4a5';
            font-family: 'Ionicons' !important;
        }
        .x-form-field {
            margin-left: 0px;
            padding-left: 30px;
            font-size: 16px;
        }
        input {
            border-radius: 5px;
        }
    }
}
.x-android {
    .x-field-search {
        &.search-focused {
            width: 88% !important;
        }
        .x-field-input {
            padding-right: 0px !important;
            &:before {
                content: '\f375' !important;
            }
        }
    }
    .x-field-input {
        .x-clear-icon {
            background: none;
            &:before {
                content: '\f2bf';
                font-family: 'Ionicons' !important;
            }
        }
    }
}
.x-field-input {
    &:before {
        top: .5em !important;
    }
    .x-clear-icon {
        background: none;
        width: auto;
        height: auto;
        margin: 0px;
        margin-top: -.5em;
        right: .5em;
        &:before {
            content: '\f14e';
            font-family: 'Ionicons' !important;
        }
    }
}